.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.section {
  padding: 60px 0;
}

.center {
  text-align: center;
}

/* Make app take full height */
html, body, #root {
  height: 100%;
  margin: 0;
}

/* Layout wrapper */
.app-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


